
*_git_backup
BatteryBot_git_backup/
HuntGame_git_backup/
cat_vs_dog_local_backup/
.git/modules/cat_vs_dog_backup/

*_git_backup
BatteryBot_git_backup/
HuntGame_git_backup/
cat_vs_dog_local_backup/
.git/modules/cat_vs_dog_backup/
